/* reset CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS start here */

body {
	display: grid;
	grid-template: 2fr 4fr /2fr 4fr;
	grid-template-areas:
		'sidebar header'
		'sidebar main';
	width: 100vw;
	height: 100vh;
	gap: 10px;
}

header {
	grid-area: header;

	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		'search'
		'tools';
	gap: 10px;
}

.header-search {
	grid-area: search;
	display: grid;
	grid-auto-flow: column;
	align-items: center;
}

.header-tools {
	grid-area: tools;
	display: grid;
	grid-auto-flow: column;
	gap: 10px;
	align-items: center;
}

.header-tools > div {
	justify-self: start;
}

nav {
	grid-area: sidebar;
}

main {
	grid-area: main;
}
