/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab&display=swap');

/* reset CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS start here */

body {
	font-family: 'Roboto', sans-serif;

	display: grid;
	grid-template: 1fr 5fr /1fr 5fr;
	grid-template-areas:
		'sidebar header'
		'sidebar main';
	width: 100vw;
	height: 100vh;
	/* gap: 10px; */
}

header {
	grid-area: header;

	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		'search'
		'tools';

	height: 200px;
}

.header-search {
	grid-area: search;
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: space-between;
	padding-left: 20px;
}

.header-search svg {
	fill: #000;
}

.header-search input {
	background-color: #d4d4d4;
	border: none;
	border-radius: 10px;
	height: 2em;
	width: 40vw;
	margin-right: 18vw;
}

.header-search .user-name {
	font-weight: 800;
	margin-right: 20px;
}

.header-search .avatar {
	border-radius: 100%;
	width: 4em;
}

.header-tools {
	grid-area: tools;
	display: grid;
	grid-auto-flow: column;
	gap: 10px;
	align-items: center;
	/* margin-right: 20px; */
	padding: 0 20px 20px 20px;
}

.header-tools > div {
	justify-self: start;
}

.header-tools .avatar {
	border-radius: 100%;
	width: 6em;
}

.header-tools div span {
	font-weight: 800;
}

.buttons {
	width: 100%;
	display: grid;
	grid-auto-flow: column;
	gap: 3em;
	justify-content: end;
}

.header-tools .buttons button {
	background-color: #0ea5e9;
	border: none;
	color: #fff;
	font-weight: 800;
	border-radius: 2em;
	height: 3em;
	width: 8em;
}

.info {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	gap: 30px;
}
nav {
	grid-area: sidebar;
	background-color: #0ea5e9;
	color: white;
	font-weight: bold;
	font-size: 1.4em;
	padding-left: 20px;
	padding-top: 20px;

	display: grid;
	align-content: start;
	gap: 50px;
}

nav ul li {
	display: grid;
	grid-auto-flow: column;
	justify-content: start;
	align-items: end;
	gap: 10px;

	margin-bottom: 10px;
}

.dashboard-icon {
	font-size: 1.8em;
	display: grid;
	grid-auto-flow: column;
	justify-content: start;
	align-items: center;
	gap: 10px;
}

.dashboard-icon > svg {
	width: 60px;
}

main {
	grid-area: main;
	background-color: #d4d4d4;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-areas: 'project other';
}

svg {
	width: 30px;
	height: auto;
	fill: #fff;
}

.title {
	font-size: 24px;
	font-weight: 800;
	padding: 20px;
}

.project {
	grid-area: project;

	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;

	padding: 20px;
}

.project > .item {
	background-color: #fff;
	border-left: orange 5px solid;
	border-radius: 8px;
	display: grid;
	padding: 10px;
}

.project .item .icons {
	display: grid;
	grid-auto-flow: column;
	justify-content: end;
	gap: 10px;
}

.project .item svg {
	fill: #000;
}

.trending div img {
	width: 4em;
}
